.pane-info {
    -fx-border-color: lightgreen;
    -fx-border-width: 5px;
}

.pane-info-name {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.pane-info-dscr {
}

.pane-info-img {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.ship-route {
    -fx-stroke: yellow;
    -fx-stroke-width: 2px;
}

.rift-route {
    -fx-stroke: green;
    -fx-stroke-dash-array: 2 12 12 2;
    -fx-stroke-width: 2px;
}